In [3]:
import csv
import pandas as pd
import numpy as np
import copy
f = pd.read_csv('TrafficAccident_copy1.csv')
f_copy=copy.deepcopy(f)
f_copy=pd.DataFrame()
f_copy
f.head(5)
print(f.shape)

(5263, 15)

# 데이터 전처리

In [4]:
# '사고일시' -> 년/월/일/시로 바꾸기

year=[]
month=[]
day=[]
time=[]



for i in f['사고일시']:
    i=i.split()
    year.append(i[0][:-1])
    month.append(i[1][:-1])
    day.append(i[2][:-1])
    time.append(i[3])

    
f_copy['사고년도']=year
f_copy['사고월']=month
f_copy['사고일']=day
f_copy['사고시간']=time
f_copy.head(5)

   사고년도 사고월 사고일 사고시간
0  2018   4   6  17시
1  2018   4  21  02시
2  2018   1  30  21시
3  2018   5  22  20시
4  2018   8  24  19시

In [5]:
# 요일 -> 그대로 하되, 요일이라는 단어 빼고 월(0) ~ 일(6)
d1=f['요일'] 

sub1=[]
sub2=[]
for i in d1:
    sub2.append(i[0])
    
f_copy['사고요일']=sub2



for i in d1: 
    i=i[0]
    if i=='월':
        sub1.append(0)
    elif i=='화':
        sub1.append(1)
    elif i=='수':
        sub1.append(2)
    elif i=='목':
        sub1.append(3)
    elif i=='금':
        sub1.append(4)
    elif i=='토':
        sub1.append(5)
    else:   # 일 
        sub1.append(6)
    
    #sub1.append(i)

f_copy['사고요일_i']=sub1

# 시군구+도로명 -> 사고지 주소
Place=[]

for i in range(f.shape[0]):
    sub=''
    sub+=f['시군구'][i]+' '+f['도로명'][i]
    Place.append(sub)
f_copy['사고장소']=Place
f_copy

# 사고내용 -> 사고내용 그대로   # 부상신고(0), 경상(1), 중상(2), 사망(3)
c1=f['사고내용']

c2=[]
c=[]
for i in c1:
    c.append(i[:-2])

f_copy['사고내용']=c
    
for i in c1:
    if i[:-2]=='부상신고':
        c2.append(0)
    elif i[:-2]=='경상':
        c2.append(1)
    elif i[:-2]=='중상':
        c2.append(2)
    else:   # 사망
        c2.append(3)
        
    #c2.append(i[:-2])

f_copy['사고내용_i']=c2
f_copy.head(5)

   사고년도 사고월 사고일 사고시간 사고요일  사고요일_i               사고장소 사고내용  사고내용_i
0  2018   4   6  17시    금       4  서울특별시 강남구 역삼동 논현로   경상       1
1  2018   4  21  02시    토       5  서울특별시 강남구 역삼동 역삼로   경상       1
2  2018   1  30  21시    화       1  서울특별시 강남구 역삼동 도곡로   경상       1
3  2018   5  22  20시    화       1  서울특별시 강남구 역삼동 언주로   중상       2
4  2018   8  24  19시    금       4  서울특별시 강남구 역삼동 언주로   경상       1

In [6]:
# 사고유형 -> 차대차(0)/ 차대사람(1)만

Type=[]
Type2=[]
    

for i in f['사고유형']:
    i=i.split()
    Type.append(i[0])
    if i[0]=='차대차':
        Type2.append(0)
    elif i[0]=='차대사람':
        Type2.append(1)
        
    #Type.append(i[0])
    
f_copy['사고유형']=Type
f_copy['사고유형_i']=Type2
f_copy.head(5)

# 기상상태 -> 그대로  / 맑음(0), 비(1), 흐림(2), 눈(3)

weather=f['기상상태']
w=[]
for i in weather:
    if i=='맑음':
        w.append(0)
    elif i=='비':
        w.append(1)
    elif i=='흐림':
        w.append(2)
    elif i=='눈':
        w.append(3)
        
        
f_copy['기상상태']=f['기상상태']    
f_copy['기상상태_i']=w
f_copy.head(5)

,사고년도,사고월,사고일,사고시간,사고요일,사고요일_i,사고장소,사고내용,사고내용_i,사고유형,사고유형_i,기상상태,기상상태_i
0,2018,4,6,17시,금,4,서울특별시 강남구 역삼동 논현로,경상,1,차대차,0,맑음,0
1,2018,4,21,02시,토,5,서울특별시 강남구 역삼동 역삼로,경상,1,차대차,0,맑음,0
2,2018,1,30,21시,화,1,서울특별시 강남구 역삼동 도곡로,경상,1,차대차,0,맑음,0
3,2018,5,22,20시,화,1,서울특별시 강남구 역삼동 언주로,중상,2,차대차,0,비,1
4,2018,8,24,19시,금,4,서울특별시 강남구 역삼동 언주로,경상,1,차대차,0,맑음,0

In [7]:
# 가해운전자 차종, 가해운전자 성별, 피해운전자 차종, 피해운전자 성별 -> 그대로

f_copy['가해운전자 차종']=f['가해운전자 차종']
f_copy['가해운전자 성별']=f['가해운전자 성별']
f_copy['피해운전자 차종']=f['피해운전자 차종']
f_copy['피해운전자 성별']=f['피해운전자 성별']
f_copy.head(5)

,사고년도,사고월,사고일,사고시간,사고요일,사고요일_i,사고장소,사고내용,사고내용_i,사고유형,사고유형_i,기상상태,기상상태_i,가해운전자 차종,가해운전자 성별,피해운전자 차종,피해운전자 성별
0,2018,4,6,17시,금,4,서울특별시 강남구 역삼동 논현로,경상,1,차대차,0,맑음,0,승용,남,이륜,남
1,2018,4,21,02시,토,5,서울특별시 강남구 역삼동 역삼로,경상,1,차대차,0,맑음,0,승용,남,승용,남
2,2018,1,30,21시,화,1,서울특별시 강남구 역삼동 도곡로,경상,1,차대차,0,맑음,0,승용,남,승용,남
3,2018,5,22,20시,화,1,서울특별시 강남구 역삼동 언주로,중상,2,차대차,0,비,1,승용,남,이륜,남
4,2018,8,24,19시,금,4,서울특별시 강남구 역삼동 언주로,경상,1,차대차,0,맑음,0,승용,남,승용,남

In [8]:
A_type=f['가해운전자 차종']  # 승용 : 0, 건설기계 : 1, 개인형이동수단(PM) : 2, 승합 : 3, 원동기 : 4, 이륜 : 5, 자전거 : 6, 특수 : 7, 화물 : 8
A_age=f['가해운전자 성별']
V_type=f['피해운전자 차종']
V_age=f['피해운전자 성별']
    
# 인덱싱 하기

# 가해운전자 차종
for i in range(len(A_type)):
    if A_type[i] == '승용':
        A_type[i]=0
    elif A_type[i]=='건설기계':
        A_type[i]=1
    elif A_type[i]=='개인형이동수단(PM)':
        A_type[i]=2
    elif A_type[i]=='승합':
        A_type[i]=3
    elif A_type[i]=='원동기':
        A_type[i]=4
    elif A_type[i]=='이륜':
        A_type[i]=5
    elif A_type[i]=='자전거':
        A_type[i]=6
    elif A_type[i]=='특수':
        A_type[i]=7
    elif A_type[i]=='화물':
        A_type[i]=8
        
f_copy['가해운전자 차종_i']=A_type

# 피해운전자 차종 # + 보행자, 사륜오토바이(ATV)
for i in range(len(V_type)):
    if V_type[i] == '승용':
        V_type[i]=0
    elif V_type[i]=='건설기계':
        V_type[i]=1
    elif V_type[i]=='개인형이동수단(PM)':
        V_type[i]=2
    elif V_type[i]=='승합':
        V_type[i]=3
    elif V_type[i]=='원동기':
        V_type[i]=4
    elif V_type[i]=='이륜':
        V_type[i]=5
    elif V_type[i]=='자전거':
        V_type[i]=6
    elif V_type[i]=='특수':
        V_type[i]=7
    elif V_type[i]=='화물':
        V_type[i]=8
    elif V_type[i]=='보행자':
        V_type[i]=9
    elif V_type[i]=='사륜오토바이(ATV)':
        V_type[i]=10
    
        
f_copy['피해운전자 차종_i']=V_type

# 가해운전자 성별
for i in range(len(A_age)):
    if A_age[i]=='남':
        A_age[i]=0
    else:
        A_age[i]=1
f_copy['가해운전자 성별_i']=A_age

# 피해운전자 성별
for i in range(len(V_age)):
    if V_age[i]=='남':
        V_age[i]=0
    else:
        V_age[i]=1
f_copy['피해운전자 성별_i']=V_age

f_copy.head(5)

,사고년도,사고월,사고일,사고시간,사고요일,사고요일_i,사고장소,사고내용,사고내용_i,사고유형,...,기상상태,기상상태_i,가해운전자 차종,가해운전자 성별,피해운전자 차종,피해운전자 성별,가해운전자 차종_i,피해운전자 차종_i,가해운전자 성별_i,피해운전자 성별_i
0,2018,4,6,17시,금,4,서울특별시 강남구 역삼동 논현로,경상,1,차대차,...,맑음,0,승용,남,이륜,남,0,5,0,0
1,2018,4,21,02시,토,5,서울특별시 강남구 역삼동 역삼로,경상,1,차대차,...,맑음,0,승용,남,승용,남,0,0,0,0
2,2018,1,30,21시,화,1,서울특별시 강남구 역삼동 도곡로,경상,1,차대차,...,맑음,0,승용,남,승용,남,0,0,0,0
3,2018,5,22,20시,화,1,서울특별시 강남구 역삼동 언주로,중상,2,차대차,...,비,1,승용,남,이륜,남,0,5,0,0
4,2018,8,24,19시,금,4,서울특별시 강남구 역삼동 언주로,경상,1,차대차,...,맑음,0,승용,남,승용,남,0,0,0,0

In [9]:
# 가해운전자 연령, 피해운전자 연령 -> 가해운전자 연령대, 피해운전자 연령대

import re
p=re.compile('[0-9]+')

a=f['가해운전자 연령']
b=f['피해운전자 연령']

a_1=[]
b_1=[]
for i in a:
    k=p.match(i)
    i=int(i[:k.end()])
    if i < 20:
        i=10
    elif i<30:
        i=20
    elif i<40:
        i=30
    elif i<50:
        i=40
    elif i<60:
        i=50
    elif i<70:
        i=60
    elif i<80:
        i=70
    elif i<90:
        i=80
    elif i<100:
        i=90
    a_1.append(i)

    
for i in b:
    k=p.match(i)
    i=int(i[:k.end()])
    if i < 20:
        i=10
    elif i<30:
        i=20
    elif i<40:
        i=30
    elif i<50:
        i=40
    elif i<60:
        i=50
    elif i<70:
        i=60
    elif i<80:
        i=70
    elif i<90:
        i=80
    elif i<100:
        i=90
    b_1.append(i)

# 연령대는 int타입
f_copy['피해운전자_연령대']=a_1
f_copy['가해운전자_연령대']=b_1
f_copy.head(5)

#f_copy=f_copy[['사고년도','사고월','사고일','사고시각','사고시간_인덱스','사고요일','사고장소','사고내용','사고유형','기상상태','가해운전자_차종','가해운전자_성별','가해운전자_연령대','피해운전자_차종','피해운전자_성별','피해운전자_연령대']]
#f_copy.head(10)

,사고년도,사고월,사고일,사고시간,사고요일,사고요일_i,사고장소,사고내용,사고내용_i,사고유형,...,가해운전자 차종,가해운전자 성별,피해운전자 차종,피해운전자 성별,가해운전자 차종_i,피해운전자 차종_i,가해운전자 성별_i,피해운전자 성별_i,피해운전자_연령대,가해운전자_연령대
0,2018,4,6,17시,금,4,서울특별시 강남구 역삼동 논현로,경상,1,차대차,...,승용,남,이륜,남,0,5,0,0,40,30
1,2018,4,21,02시,토,5,서울특별시 강남구 역삼동 역삼로,경상,1,차대차,...,승용,남,승용,남,0,0,0,0,40,30
2,2018,1,30,21시,화,1,서울특별시 강남구 역삼동 도곡로,경상,1,차대차,...,승용,남,승용,남,0,0,0,0,50,30
3,2018,5,22,20시,화,1,서울특별시 강남구 역삼동 언주로,중상,2,차대차,...,승용,남,이륜,남,0,5,0,0,60,60
4,2018,8,24,19시,금,4,서울특별시 강남구 역삼동 언주로,경상,1,차대차,...,승용,남,승용,남,0,0,0,0,70,20

In [10]:
# Time에서 3시간단위로 구분

'''
00~03 : 0
03-06 : 1
06-09 : 2
09-12 : 3
12-15 : 4
15-18 : 5
18-21 : 6
21-00 : 7

'''
t=f_copy['사고시간']

t_1=[]
t_origin=[]
# ~시 -> 숫자만 추출하여 int로 저장
for i in t:
    i=i[:2]
    t_1.append(int(i))

f_copy['사고시각']=t_1
sub=[]
for i in t_1:
    if 0<=i<3:
        i=0
    elif 3<=i<6:
        i=1
    elif 6<=i<9:
        i=2
    elif 9<=i<12:
        i=3
    elif 12<=i<15:
        i=4
    elif 15<=i<18:
        i=5
    elif 18<=i<21:
        i=6
    elif 21<=i<24:
        i=7
    sub.append(i)

f_copy['사고시간_인덱스']=sub
#print(f_copy.shape)

In [11]:
# 컬럼순서 조정
#f_copy=f_copy[['사고년도','사고월','사고일','사고시간','사고시간_인덱스','사고요일','사고장소','사고내용','사고유형','기상상태','가해운전자_차종','가해운전자_성별','가해운전자_연령대','피해운전자_차종','피해운전자_성별','피해운전자_연령대']]
#f_copy=f_copy[['사고년도','사고월','사고일','사고시각','사고시간_인덱스','사고요일','사고장소','사고내용','사고유형','기상상태','가해운전자_차종','가해운전자_성별','가해운전자_연령대','피해운전자_차종','피해운전자_성별','피해운전자_연령대']]
#f_copy.head(10)

#f_copy.to_csv('Traffic_data.csv')
# 사고시간

In [12]:
# 도로형태 : 구분을 교차로 (0), 단일로(1) 로만 구분하되, 기타 - 기타 는 단일로의 비율대로 랜덤하게 배정

import random

# 교차로, 단일로, 기타로 나눔
Road=f['도로형태']
Road_t=[]
for i in Road:
    i=i.split()
    if i[0]=='교차로':
        Road_t.append(0)
    elif i[0]=='단일로':
        Road_t.append(1)
    else:
        Road_t.append(2)

print(Road_t.count(0))   # 교차로 - 2174개
print(Road_t.count(1))   # 단일로 - 2786개
print(Road_t.count(2))     # 기타 - 303개

# 교차로, 단일로 개수만큼의 박스를 생성
t1=[0]*Road_t.count(0)
t2=[1]*Road_t.count(1)
sub1=t1+t2
random.shuffle(sub1)

# 기타 -> 교차로, 단일로 비율의 랜덤으로 뿌림
sub2=[]
for i in range(len(Road_t)):
    if Road_t[i]==2:
        Road_t[i]=random.choice(sub1)


#sub2=random.choice(sub1)
f_copy['도로형태']=Road_t
#f_copy=f_copy[['사고년도','사고월','사고일','사고시각','사고시간_인덱스','사고요일','사고장소','사고내용','사고유형','기상상태','도로형태','가해운전자_차종','가해운전자_성별','가해운전자_연령대','피해운전자_차종','피해운전자_성별','피해운전자_연령대']]
f_copy.head(10)

'''
f_copy=f_copy[['사고년도','사고월','사고요일','사고장소','사고내용','사고유형','기상상태','도로형태','가해운전자 차종','가해운전자 성별','가해운전자_연령대','피해운전자 차종','피해운전자 성별','피해운전자_연령대']]

f_copy2=f_copy[['사고월','사고장소','가해운전자_연령대','피해운전자_연령대']]
f_copy2.shape
print(f_copy2.columns)
'''
f_copy=f_copy[['사고요일_i','','사고내용_i','사고시간_인덱스','도로형태']]
f_copy.to_csv('model2_test.csv',encoding='utf-8-sig')

2174
2786
303

In [20]:
data=pd.read_csv('model2_test.csv')
data

      Unnamed: 0  사고요일_i                 사고장소  사고내용_i  사고시간_인덱스  도로형태
0              0       4    서울특별시 강남구 역삼동 논현로       1         5     0
1              1       5    서울특별시 강남구 역삼동 역삼로       1         0     0
2              2       1    서울특별시 강남구 역삼동 도곡로       1         7     0
3              3       1    서울특별시 강남구 역삼동 언주로       2         6     1
4              4       4    서울특별시 강남구 역삼동 언주로       1         6     0
...          ...     ...                  ...     ...       ...   ...
5258        5258       1  서울특별시 송파구 잠실동 올림픽대로       2         6     1
5259        5259       1  서울특별시 송파구 잠실동 올림픽대로       1         5     1
5260        5260       4   서울특별시 송파구 잠실동 봉은사로       2         2     1
5261        5261       5    서울특별시 송파구 문정동 자곡로       2         5     1
5262        5262       2   서울특별시 송파구 방이동 양재대로       1         5     0

[5263 rows x 6 columns]

In [14]:
# Importing Classifier Modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

import numpy as np

# KNN, 의사결정나무, SVM이용 예정

In [15]:
# K_fold

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [17]:
X=data.iloc[:,range(0,data.shape[1]-1)]
X
y=data.iloc[:,data.shape[1]-1]
y

0       0
1       0
2       0
3       1
4       0
       ..
5258    1
5259    1
5260    1
5261    1
5262    0
Name: 도로형태, Length: 5263, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.ensemble import ExtraTreesClassifier

df_train, df_test = train_test_split(data, test_size=0.35,stratify=y, random_state=100)
df_train.shape, df_test.shape

svm=SVC(C=100)

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=0)

# 스케일 조정
scaler=StandardScaler()
scaler.fit(X_train)
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

svm.fit(X_train_scaled,y_train)
print('스케일 조정된 테스트세트의 정확도 : {}'.format(svm.score(X_test_scaled,y_test)))


'''
xtree = ExtraTreesClassifier(n_estimators=15, random_state=10)
xtree.fit(X_train, y_train)

print("훈련 세트 정확도: {:.3f}".format(xtree.score(X_train, y_train)))
print("테스트 세트 정확도: {:.3f}".format(xtree.score(X_test, y_test)))
'''

ValueError: could not convert string to float: '서울특별시 강남구 논현동 강남대로'

# 원핫-인코딩

In [14]:
f_copy2  # ['사고월','사고장소','가해운전자_연령대','피해운전자_연령대']
f_copy3=f_copy2
# 사고일-> 빼
# 사고시각은 그대로 넣고 원핫인코딩 끝난뒤에 3시간단위로 묶어서 다시 원핫인코딩

# concat 해야될 속성 :  사고요일, 사고내용, 사고유형, 기상상태, 도로형태, 가해운전자 차종, 가해운전자 성별, 피해운전자 차종, 피해운전자 성별 
import pandas as pd
# pd.get_dummies로 One-hot 인코딩

for i in f_copy.columns:
    if i not in f_copy2.columns:   
        
        Traffic_one_hot_encoded = pd.get_dummies(f_copy[i]) 
        test1=pd.DataFrame(Traffic_one_hot_encoded)
        #print(test1)
        f_copy3=pd.concat([f_copy3,test1],axis=1)
        
    

#f_copy2=pd.concat([f_copy2,df_test],axis=1)
# 사고년도, 사고월, 사고장소, 가해운전자_연령대, 피해운전자_연령대 -> 빠진내용

# ['사고일','사고시각','사고시간_인덱스','사고요일','사고내용','사고유형','기상상태','도로형태','가해운전자 차종','가해운전자 성별','피해운전자 차종','피해운전자 성별']
#df2=pd.get_dummies(f_copy2, prefix=['사고일','사고시각','사고요일']).head(10)

#Traffic_one_hot_encoded.head(10)
f_copy3.shape

(5263, 49)

In [15]:
print(list(f_copy3.columns))

['사고월', '사고장소', '가해운전자_연령대', '피해운전자_연령대', '2017', '2018', '금', '목', '수', '월', '일', '토', '화', '경상', '부상신고', '사망', '중상', '차대사람', '차대차', '눈', '맑음', '비', '흐림', 0, 1, '개인형이동수단(PM)', '건설기계', '승용', '승합', '원동기', '이륜', '자전거', '특수', '화물', '남', '여', '개인형이동수단(PM)', '건설기계', '보행자', '사륜오토바이(ATV)', '승용', '승합', '원동기', '이륜', '자전거', '특수', '화물', '남', '여']

In [16]:
print(list(f_copy3.columns))
f_copy3.head(10)

# 칼럼 이름바꾸기
f_copy3.columns=['사고월', '사고장소', '가해운전자_연령대', '피해운전자_연령대', '2017', '2018', '사고요일_금', '사고요일_목', '사고요일_수', '사고요일_월', '사고요일_일', '사고요일_토', '사고요일_화', '경상', '부상신고', '사망', '중상', '차대사람', '차대차', '눈', '맑음', '비', '흐림', '도로형태_교차로', '도로형태_단일로', '가해자_차종_개인형이동수단(PM)', '가해자_차종_건설기계', '가해자_차종_승용', '가해자_차종_승합', '가해자_차종_원동기', '가해자_차종_이륜', '가해자_차종_자전거', '가해자_차종_특수', '가해자_차종_화물', '가해운전자_남', '가해운전자_여', '피해자_차종_개인형이동수단(PM)', '피해자_차종_건설기계', '피해자_차종_보행자', '피해자_차종_사륜오토바이(ATV)', '피해자_차종_승용', '피해자_차종_승합', '피해자_차종_원동기', '피해자_차종_이륜', '피해자_차종_자전거', '피해자_차종_특수', '피해자_차종_화물', '피해운전자_남', '피해운전자_여']

f_copy3=f_copy3[['사고월', '사고장소', '가해운전자_연령대', '피해운전자_연령대', '사고요일_월', '사고요일_화', '사고요일_수', '사고요일_목', '사고요일_금', '사고요일_토', '사고요일_일', '경상', '부상신고', '사망', '중상', '차대사람', '차대차', '도로형태_교차로','도로형태_단일로','눈', '맑음', '비', '흐림', '가해자_차종_개인형이동수단(PM)', '가해자_차종_건설기계', '가해자_차종_승용', '가해자_차종_승합', '가해자_차종_원동기', '가해자_차종_이륜', '가해자_차종_자전거', '가해자_차종_특수', '가해자_차종_화물', '가해운전자_남', '가해운전자_여', '피해자_차종_개인형이동수단(PM)', '피해자_차종_건설기계', '피해자_차종_보행자', '피해자_차종_사륜오토바이(ATV)', '피해자_차종_승용', '피해자_차종_승합', '피해자_차종_원동기', '피해자_차종_이륜', '피해자_차종_자전거', '피해자_차종_특수', '피해자_차종_화물', '피해운전자_남', '피해운전자_여']]

f_copy3

['사고월', '사고장소', '가해운전자_연령대', '피해운전자_연령대', '2017', '2018', '금', '목', '수', '월', '일', '토', '화', '경상', '부상신고', '사망', '중상', '차대사람', '차대차', '눈', '맑음', '비', '흐림', 0, 1, '개인형이동수단(PM)', '건설기계', '승용', '승합', '원동기', '이륜', '자전거', '특수', '화물', '남', '여', '개인형이동수단(PM)', '건설기계', '보행자', '사륜오토바이(ATV)', '승용', '승합', '원동기', '이륜', '자전거', '특수', '화물', '남', '여']

,사고월,사고장소,가해운전자_연령대,피해운전자_연령대,사고요일_월,사고요일_화,사고요일_수,사고요일_목,사고요일_금,사고요일_토,...,피해자_차종_사륜오토바이(ATV),피해자_차종_승용,피해자_차종_승합,피해자_차종_원동기,피해자_차종_이륜,피해자_차종_자전거,피해자_차종_특수,피해자_차종_화물,피해운전자_남,피해운전자_여
0,4,서울특별시 강남구 역삼동 논현로,30,40,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
1,4,서울특별시 강남구 역삼동 역삼로,30,40,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
2,1,서울특별시 강남구 역삼동 도곡로,30,50,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,5,서울특별시 강남구 역삼동 언주로,60,60,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,8,서울특별시 강남구 역삼동 언주로,20,70,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5258,7,서울특별시 송파구 잠실동 올림픽대로,60,20,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5259,8,서울특별시 송파구 잠실동 올림픽대로,60,20,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
5260,6,서울특별시 송파구 잠실동 봉은사로,40,40,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
5261,10,서울특별시 송파구 문정동 자곡로,40,30,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
5262,12,서울특별시 송파구 방이동 양재대로,60,70,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [17]:
# 사고장소 -> x,y로 바꿔주기

In [18]:
#f_copy3.to_csv('f_copy_Onehot.csv',encoding='utf-8-sig')
f_copy4=pd.read_csv('f_copy_Onehot.csv')
f_copy4.shape

f_copy4.head(5)
f_wgs=pd.read_csv('사고장소_좌표값.csv')
#f_copy4[['사고월', '사고장소', '가해운전자_연령대', '피해운전자_연령대', '사고요일_월', '사고요일_화', '사고요일_수', '사고요일_목', '사고요일_금', '사고요일_토', '사고요일_일', '경상', '부상신고', '사망', '중상', '차대사람', '차대차', '도로형태_교차로','도로형태_단일로','눈', '맑음', '비', '흐림', '가해자_차종_개인형이동수단(PM)', '가해자_차종_건설기계', '가해자_차종_승용', '가해자_차종_승합', '가해자_차종_원동기', '가해자_차종_이륜', '가해자_차종_자전거', '가해자_차종_특수', '가해자_차종_화물', '가해운전자_남', '가해운전자_여', '피해자_차종_개인형이동수단(PM)', '피해자_차종_건설기계', '피해자_차종_보행자', '피해자_차종_사륜오토바이(ATV)', '피해자_차종_승용', '피해자_차종_승합', '피해자_차종_원동기', '피해자_차종_이륜', '피해자_차종_자전거', '피해자_차종_특수', '피해자_차종_화물', '피해운전자_남', '피해운전자_여']]


lat=f_wgs['Latitude']
lon=f_wgs['Longitude']
f_copy4['위도']=lat
f_copy4['경도']=lon

f_copy4=f_copy4[['사고월', '위도','경도','가해운전자_연령대', '피해운전자_연령대', '사고요일_월', '사고요일_화', '사고요일_수', '사고요일_목', '사고요일_금', '사고요일_토', '사고요일_일', '경상', '부상신고', '사망', '중상', '차대사람', '차대차', '도로형태_교차로','도로형태_단일로','눈', '맑음', '비', '흐림', '가해자_차종_개인형이동수단(PM)', '가해자_차종_건설기계', '가해자_차종_승용', '가해자_차종_승합', '가해자_차종_원동기', '가해자_차종_이륜', '가해자_차종_자전거', '가해자_차종_특수', '가해자_차종_화물', '가해운전자_남', '가해운전자_여', '피해자_차종_개인형이동수단(PM)', '피해자_차종_건설기계', '피해자_차종_보행자', '피해자_차종_사륜오토바이(ATV)', '피해자_차종_승용', '피해자_차종_승합', '피해자_차종_원동기', '피해자_차종_이륜', '피해자_차종_자전거', '피해자_차종_특수', '피해자_차종_화물', '피해운전자_남', '피해운전자_여']]
f_copy4  # shape : 5213 x 48

f_copy4.to_csv('f_copy_data.csv',encoding='utf-8-sig')

In [41]:
f_copy_data=pd.read_csv('f_copy_data2.csv')
f_copy_data  # 최종 전처리물
print(f_copy_data.shape[0],f_copy_data.shape[1])
print(f_copy_data.shape)
f_copy_data=f_copy_data[['사고월', '위도','경도', '사고요일_월', '사고요일_화', '사고요일_수', '사고요일_목', '사고요일_금', '사고요일_토', '사고요일_일', '도로형태_교차로','도로형태_단일로','눈', '맑음', '비', '흐림', '가해자_차종_개인형이동수단(PM)', '가해자_차종_건설기계', '가해자_차종_승용', '가해자_차종_승합', '가해자_차종_원동기', '가해자_차종_이륜', '가해자_차종_자전거', '가해자_차종_특수', '가해자_차종_화물', '가해운전자_남', '가해운전자_여', '피해자_차종_개인형이동수단(PM)', '피해자_차종_건설기계', '피해자_차종_보행자', '피해자_차종_사륜오토바이(ATV)', '피해자_차종_승용', '피해자_차종_승합', '피해자_차종_원동기', '피해자_차종_이륜', '피해자_차종_자전거', '피해자_차종_특수', '피해자_차종_화물', '피해운전자_남', '피해운전자_여']]

5213 49
(5213, 49)

,사고월,위도,경도,가해운전자_연령대,피해운전자_연령대,사고요일_월,사고요일_화,사고요일_수,사고요일_목,사고요일_금,...,피해자_차종_승용,피해자_차종_승합,피해자_차종_원동기,피해자_차종_이륜,피해자_차종_자전거,피해자_차종_특수,피해자_차종_화물,피해운전자_남,피해운전자_여,장소카운트
0,4,37.499907,127.037393,30,40,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,128
1,4,37.499075,127.047030,30,40,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,63
2,1,37.494213,127.046250,30,50,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,46
3,5,37.499907,127.037393,60,60,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,117
4,8,37.499907,127.037393,20,70,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5208,5,37.489843,127.043814,70,50,0,0,1,0,0,...,1,0,0,0,0,0,0,1,0,14
5209,11,37.489843,127.043814,50,20,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,75
5210,8,37.489843,127.043814,50,10,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,75
5211,11,37.489843,127.043814,20,40,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,75
5212,7,37.489843,127.043814,40,50,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,46

# 모델링

In [20]:
# Importing Classifier Modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

import numpy as np

# KNN, 의사결정나무, SVM이용 예정

In [21]:
# K_fold

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [25]:
# KNN
'''
clf = KNeighborsClassifier(n_neighbors = 13)
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)
'''

NameError: name 'X_train' is not defined

In [23]:
# kNN Score
round(np.mean(score)*100, 2)

NameError: name 'score' is not defined

Train, Test set 분리

In [26]:
X=f_copy_data.iloc[:,range(0,f_copy_data.shape[1]-1)]
X
y=f_copy_data.iloc[:,f_copy_data.shape[1]-1]
y

0       128
1        63
2        46
3       117
4       117
       ...
5208     14
5209     75
5210     75
5211     75
5212     46
Name: 장소카운트, Length: 5213, dtype: int64

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.ensemble import ExtraTreesClassifier

df_train, df_test = train_test_split(f_copy_data, test_size=0.35,stratify=y, random_state=100)
df_train.shape, df_test.shape

svm=SVC(C=100)

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=0)

# 스케일 조정
scaler=StandardScaler()
scaler.fit(X_train)
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

svm.fit(X_train_scaled,y_train)
print('스케일 조정된 테스트세트의 정확도 : {}'.format(svm.score(X_test_scaled,y_test)))


'''
xtree = ExtraTreesClassifier(n_estimators=15, random_state=10)
xtree.fit(X_train, y_train)

print("훈련 세트 정확도: {:.3f}".format(xtree.score(X_train, y_train)))
print("테스트 세트 정확도: {:.3f}".format(xtree.score(X_test, y_test)))
'''

스케일 조정된 테스트세트의 정확도 : 0.1438618925831202

'\nxtree = ExtraTreesClassifier(n_estimators=15, random_state=10)\nxtree.fit(X_train, y_train)\n\nprint("훈련 세트 정확도: {:.3f}".format(xtree.score(X_train, y_train)))\nprint("테스트 세트 정확도: {:.3f}".format(xtree.score(X_test, y_test)))\n'

In [225]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

# KNN

In [226]:
clf = KNeighborsClassifier(n_neighbors = 10)
scoring = 'accuracy'
score = cross_val_score(clf, X_train, y_train, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.02285714 0.02571429 0.01719198 0.0286533  0.01432665 0.01719198
 0.02578797 0.02292264 0.03724928 0.0286533 ]

In [227]:
# kNN Score
round(np.mean(score)*100, 2)

2.41

# Random Forest

In [230]:
clf = RandomForestClassifier(n_estimators=13)
scoring = 'accuracy'
score = cross_val_score(clf, X_train, y_train, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.32       0.21428571 0.26647564 0.26361032 0.25787966 0.31232092
 0.24641834 0.24068768 0.24928367 0.252149  ]

In [231]:
# Random Forest Score
round(np.mean(score)*100, 2)

26.23

# SVM

In [228]:
clf = SVC()
scoring = 'accuracy'
score = cross_val_score(clf, X_train, y_train, cv=k_fold, n_jobs=1, scoring=scoring)
print(score)

[0.04       0.03142857 0.00859599 0.05730659 0.03438395 0.01719198
 0.04584527 0.03151862 0.04011461 0.04584527]

In [229]:
round(np.mean(score)*100,2)

3.52